<p>Name: <%=@recipe.name%></p>
<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Instructions: <%=@recipe.instructions%></p>
<p>Minutes: <%=@recipe.minutes%></p>
<p>Difficulty: <%=@recipe.difficulty%></p>
